.fp-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.fp-card {
  width: 100%;
  /* max-width: 900px; */
  display: flex;
  background-color: white;
  border-radius: 12px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  /* overflow: hidden; */
}

.fp-left {
  position: relative;
  margin-top: 30vh;
  width: 80%;
  height: 70vh;
  margin-left: calc(-80% + 45vw);
  /* display: ; */
  /* overflow: visible; */
  align-items: center;
  justify-content: center;
  background-image: url("/loginimage.png");
  background-size: cover;
  /* padding: 40px; */
}

.fp-image {
  max-width: 100%;
  height: auto;
}

.fp-right {
  width: 50%;
  padding: 40px 0 40px 50px;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.fp-title {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.fp-subtitle {
  font-size: 14px;
  color: #777777;
  margin-bottom: 20px;
}

.fp-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 48px;
}
.fp-wrapper {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
}
.fp-button {
  width: 100%;
  padding: 12px;
  background-color: #c235a1;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 48px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fp-button:hover {
  background-color: #a5298b;
}

.fp-back-link {
  margin-top: 20px;
  font-size: 16px;
}

.fp-back-link a {
  color: #c235a1;
  text-decoration: none;
}

.fp-back-link a:hover {
  text-decoration: underline;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .fp-card {
    flex-direction: column;
  }

  .fp-left,
  .fp-right {
    width: 100%;
  }

  .fp-left {
    padding: 20px;
  }

  .fp-right {
    padding: 20px;
  }
}
