/* .form-container {
  max-width: 600px;
  margin: 12vh auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
} */
/* 
.profile-header h2 {
  text-align: center;
}

form fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
} */

.woman-with-telescope-employer-register {
  position: absolute;
  /* bottom: 0px; */
  bottom: -10vh;
  width: 50vw;
  height: 80%;
  background: url("/loginimage.png") no-repeat;
  background-size: cover;
}

legend {
  font-weight: bold;
  padding: 0 10px;
}
.signup-right-employer {
  flex: 1;
  /* padding: 40px; */
  /* margin-top: 20vh; */
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  /* width: 100%; */
  /* align-items: center; */
}
.Employer-registration-right-container {
  position: relative;
  top: 15vh;
}

@media (min-width: 1440px) {
  .Employer-registration-right-container {
    top: 0vh;
  }

  .woman-with-telescope-employer-register {
    bottom: 0;
  }
}
