.main-contact-container {
  display: grid;
  position: relative;
  top: 10vh;
  width: 100%;
  /* justify-content: ; */
  gap: 5vh;
  /* text-align: center; */
}
.contact-hero {
  background-image: url("/contactHero.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vw 0;
  width: 100vw;
  margin-left: calc(-50vw + 49%);
  height: 55vh;
}
.contact-hero-heading {
  /* margin-left: 10vw; */
}
.contact-hero-heading::after {
  display: block;
  content: "";
  background-color: rgba(191, 73, 179, 1);
  width: 10%;
  height: 5px;
  margin-bottom: 10px;
}
.text-contact {
  width: 35vw;
  padding-left: 11.2%;
}
.middle-contact-text {
  text-align: center;
}
.middle-contact-text p {
  width: 100%;
}
