.breadcrumbs {
  width: 100%;
  min-width: 25vw;
  display: flex;
  justify-content: center;
  gap: 5px;

  font-size: 14px;
  padding: 5px -0% 5px 25%;
  /* margin-bottom: 16px; */
}

.breadcrumbs a {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumb-item {
  /* margin-left: -10%; */
  color: #ffffff;
  font-weight: bold;
}

.breadcrumb-container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: white;
}
@media (max-width: 768px) {
  .profile-header {
    margin-top: 10vh;
  }
}
